//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

// ==== PLUGINS ===========================================================================================
@import "plugins/swiper-bundle";
@import "plugins/animate";
// ==== // PLUGINS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================


// ==== BASE STYLES ===========================================================================================
@import "base";
// ==== // BASE STYLES ===========================================================================================


// ==== COMMON BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/buttons/buttons";
@import "../common/popup/popup";
@import "../common/form/form";
// ==== // COMMON BLOCKS =====================================================

// ==== SECTIONS  =====================================================
@import "../common/promo-header/promo-header";
@import "../common/intro-text/intro-text";
@import "../common/products/products";
@import "../common/banner/banner";
@import "../common/advantages/advantages";
// ==== // SECTIONS =====================================================
